<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./autoload.php">
	<testsuites>
		<testsuite name="Core Saltwater">
			<directory>./suites/core</directory>
		</testsuite>
		<testsuite name="Root Module">
			<directory>./suites/root</directory>
		</testsuite>
		<testsuite name="RedBean Module">
			<directory>./suites/redbean</directory>
		</testsuite>
	</testsuites>
</phpunit>
